# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=pillsyncai2026@gmail.com
EMAIL_HOST_PASSWORD=rfvqfcrfeszvfvpr
DEFAULT_FROM_EMAIL=pillsyncai2026@gmail.com
